*.xcuserstate
*.xccheckout
xcuserdata

*.xcodeproj
*.xcworkspace

.build/
Derived/
vendor/

.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md
build/
