# DI
github "devxoul/Pure"
github "Swinject/Swinject"
github "Swinject/SwinjectAutoregistration"

# Testing
github "Quick/Quick"
github "Quick/Nimble"
github "devxoul/Stubber"
github "StyleShare/Testables"
